name: Build

on:
  push:
    branches: ["v*"]
  pull_request:
    branches: ["**"]

jobs:

  development-build:
    name: Development build with JDK 9
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 9
      - uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore
      - run: mvn --batch-mode --update-snapshots verify
      - uses: skjolber/maven-cache-github-action@v1
        with:
          step: save
      - uses: codecov/codecov-action@v3

  release-build:
    name: Release build with JDK 9
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 9
      - uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore
      - run: mvn -P release --batch-mode --update-snapshots verify
      - uses: skjolber/maven-cache-github-action@v1
        with:
          step: save
      - uses: codecov/codecov-action@v3
